<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Paper Round</title>
</head>
<body>
    <div>
        <form action="" method="post" enctype="multipart/form-data">
            <div>
                <input type="file" name="file" id="file" />
            </div>
            <div>
                <input type="submit" />
            </div>
        </form>
    </div>
</body>
</html>
